<a href="https://colab.research.google.com/github/nicorag/Hello-World/blob/master/Filtrado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def multiple(numero):  #Primero declaramos una función condicional
  if numero %5==0:       #Compramos si un numero es múltiplo de cinco
    return True

numeros=[2,5,10,23,50,33]
filter(multiple,numeros)

In [2]:
list(filter(multiple,numeros))

[5, 10, 50]

In [4]:
class Persona:
  def __init__(self,nombre,edad):
    self.nombre=nombre
    self.edad=edad

  def __str__(self):
    return "{} de {} años".format(self.nombre,self.edad)
personas=[
      Persona("Juan",35),
      Persona("Marta",16),
      Persona("Manuel",78),
      Persona("Eduardo",12)
      ]

In [5]:
menores=filter(lambda persona: persona.edad<18, personas)
for menor in menores:
  print(menor)

Marta de 16 años
Eduardo de 12 años

In [6]:
#La función Map aplica una función sobre todos los elementos de una lista y devuelve un iterable tipo map
def doblar(numero):
  return numero*2
numeros=[2,3,4,5]
map(doblar,numeros)

In [7]:
#Transformamos el iterable en lista
list(map(doblar,numeros))

[4, 6, 8, 10]

In [8]:
#para simplificarlo, con una función lambda podemos sustituir la llamada de una función
list(map(lambda x:x*3,numeros))
#La función Map se usa con lambda porque permite evitar la definición de bucles

[6, 9, 12, 15]

In [9]:
a=[1,2,3,4]
b=[4,3,5,6]
list(map(lambda x,y:x*y,a,b))

[4, 6, 15, 24]

In [10]:
def incrementar(p):
  p.edad += 1
  return p
personas= map(incrementar,personas)

for persona in personas:
  print(persona)

Juan de 36 años
Marta de 17 años
Manuel de 79 años
Eduardo de 13 años